body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/*MOBILE START*/
.header {
  height: 50px;
  background-color: #ff0000e3;
  align-items: center
}

.date {
  display: none;
}

.login-button {
  display: none;
}

.newsweek {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-size: 25px;
  font-weight: bolder;
}

.fa-user {
  color: bisque;
}

.fa-bars {
  color: bisque;
}

.subscribe-button {
  font-weight: bolder;
  background-color: #ffff00db;
}
/*MOBILE END*/


/*TAB START*/

@media screen and (min-width: 768px) {
.user-interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newsweek {
  font-size: 27px;
}

.login-button {
  display: flex;
  color: white;
  font-weight: 700;
  font-size: 17px;
  background-color: inherit;
}

.user-icon {
  display: none;
}

.subscribe-button {
  margin-right: 5px;
  padding: auto 10px;
}

.fa-bars {
  font-size: 25px;
}
}

/*TAB END*/


/*DESKTOP START*/

@media screen and (min-width: 1024px) {
.header {
  height: 92px;
  display: flex;
  align-items: last baseline;
}

.newsweek {
  font-size: 80px;
  margin-bottom: -10px;
}

.date {
  display: flex;
  color: white;
  font-family: "Roboto Condensed",sans-serif;
  font-weight: lighter;
  font-size: 20px;
}

.login-button {
  margin-right: 25px;
  font-size: 20px;
}

.subscribe-button {
  font-size: 20px;
}

.menu-icon {
  display: none;
}
}

/*DESKTOP END*/


/*MEGA SCREENS START*/

@media screen and (min-width: 1400px) {
}


/*MEGA SCREENS END*/