body {
  font-family: Arial, Helvetica, sans-serif;
}

/*MOBILE START*/
.header-container {
  height: 50px;
  background-color: #ff0000e3;
}

.date {
  display: none;
}

.login {
  display: none;
}

.menu {
  margin-top: 5px;
}

.newsweek {
  list-style: none;
  font-size: 23px;
  font-weight: bolder;
  letter-spacing: 0.5px;
  margin-left: -35px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.subscribe {
  list-style: none;
  padding: 2px;
  font-weight: bold;
  font-size: 13px;
  margin-top: 5px;
  padding-left: 6px;
  font-family: "Roboto Condensed", sans-serif;
}

.arrow {
  width: 20px;
  height: 15px;
  margin-bottom: 3px;
  margin-left: -5px;
}

.menu-icon-container {
  list-style: none;
}

.menu-icon {
  width: 30px;
  height: 20px;
}

.user-icon {
  list-style: none;
  margin-right: 3px;
}

.user-interface {
  margin-right: -16px;
}
/*MOBILE END*/


/*TAB START*/

@media screen and (min-width: 768px) {
.user-icon {
  display: none;
}

.user-interface {
  padding-left: 10px;
}

.login {
  display: flex;
  margin-right: 1em;
  margin-top: 3px;
}

.subscribe {
  margin-right: 16px;
  font-size: 15px;
  padding: auto 5px;
}

.menu-icon-container {
  margin-right: 8px;
}

}

/*TAB END*/


/*DESKTOP START*/

@media screen and (min-width: 1024px) {

}

/*DESKTOP END*/


/*MEGA SCREENS START*/

@media screen and (min-width: 1400px) {

}

/*MEGA SCREENS END*/